@import "variables"
@import "placeholders"

html
  height: 100%

body
  height: 100%
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.panel
  @extend %full-height
  .row
    min-height: (100 - ($panel-row-margin-top * 8)) / 8
    height: (100 - ($panel-row-margin-top * 8)) / 8
    .col
      @extend %full-height
      text-align: center
      font-size: $panel-font-size-sm
      background: #f8f8f8
      /* Large devices (large desktops, 1200px and up) */
      @media (min-width: $screen-lg)
          font-size: $panel-font-size-lg
      span
        line-height: 140px
        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: $screen-lg)
          line-height: 80px
      .btn
        font-size: $panel-font-size-sm
        @media (min-width: $screen-lg)
          font-size: $panel-font-size-lg

.effects-panel
  $font-size-lg: 2rem
  $font-size-sm: 7rem
  height: 100%
  font-size: $font-size-sm
  @media (min-width: $screen-lg)
    font-size: $font-size-lg
  div, a, button, span
    font-size: inherit
  .row
    height: 12%
    .col
      background-color: $light-gray
      height: 100%
      padding: 1rem 1rem
      button, a
        width: 100%
        height: 100%

.led
  $size: 30px
  width: $size
  height: $size
  border-radius: 50%
  display: inline-block